/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"); */

.tmline ul {
  margin: 0;
  margin-top: 10px;
  list-style: none;
  position: relative;
  padding: 1px 50px;
  color: #000000;
  font-size: 13px;
}

.tmline ul:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 2px dashed #ccd5db;
}

.tmline ul li {
  position: relative;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  border-radius: 6px;
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}

.tmline ul li:not(:first-child) {
  margin-top: 60px;
}

.tmline ul li > span {
  width: 2px;
  height: 100%;
  background: #ccd5db;
  left: -30px;
  top: 0;
  position: absolute;
}

.tmline ul li > span:before,
.tmline ul li > span:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #ccd5db;
  position: absolute;
  background: #86b7e7;
  left: -3px;
  top: 0;
}

.tmline ul li span:after {
  top: 100%;
}

.tmline ul li > div {
  margin-left: 10px;
}

.tmline div .title,
.tmline div .type {
  font-weight: 600;
  font-size: 12px;
}

.tmline div .info {
  font-weight: 300;
}

.tmline div > div {
  margin-top: 5px;
}

.tmline span.number {
  height: 100%;
}

.tmline span.number span {
  position: absolute;
  font-size: 10px;
  left: -35px;
  font-weight: bold;
}

.tmline span.number span:first-child {
  top: 0;
}

.tmline span.number span:last-child {
  top: 100%;
}

/* Custom Css */
#routeResult {
  min-height: 42.3vh;
  max-height: 42.3vh;
  overflow: overlay;
}
