body {
  /* text-align: center; */
  margin: 0 auto;
}
#Progress_Loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  /* background: #ffffff; */
  /* background: rgba(0, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000'); */
}
